[project]
	description = GoLang development container
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Federico Gimenez (fgimenez)
[access "refs/for/refs/*"]
	read = group user/Federico Gimenez (fgimenez)
	push = group user/Federico Gimenez (fgimenez)
	label-Code-Review = -2..+2 group user/Federico Gimenez (fgimenez)
	label-Verified = -1..+1 group user/Federico Gimenez (fgimenez)
	rebase = group user/Federico Gimenez (fgimenez)
	removeReviewer = group user/Federico Gimenez (fgimenez)
	submit = group user/Federico Gimenez (fgimenez)
[access "refs/heads/*"]
	read = group user/Federico Gimenez (fgimenez)
	create = group user/Federico Gimenez (fgimenez)
	push = +force group user/Federico Gimenez (fgimenez)
	pushMerge = group user/Federico Gimenez (fgimenez)
[access "refs/tags/*"]
	push = +force group user/Federico Gimenez (fgimenez)
	pushTag = group user/Federico Gimenez (fgimenez)
	pushSignedTag = group user/Federico Gimenez (fgimenez)
